@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=IBM+Plex+Sans+Thai&family=IBM+Plex+Serif&family=Josefin+Sans&display=swap');

body{
  font-family: 'IBM Plex Serif', serif;

}

.header-bar{
  font-family: 'Goudy Bookletter 1911', serif;
  color: #DFBD65;
  background-color: #1B605D;
  font-size: 2vw;
  display: flexbox;

}

.free-shipping{
  background-color: #A1483D;
  color: #ffffff;
  font-family: 'IBM Plex Serif', serif;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;    
}

.content-free{
  font-size: 1vw;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  
  }

.free-truck{
  width: 1.5vw;
}

.logo{
  width: 10%;
  height: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.logo-content{
  display: flex;
}

.searchbar input[type=text] {
  float: none;
  display: flex;
  text-align: left;
  width: 90%;
  height: 60%;
  margin: 0;
  padding-left: 1vw;
  padding-right: 2vw;
  border-radius: 50px;
  border: none;
}


.searchbar{
  display: flex;
  position: absolute;
  width: 30%;
  height: 10%;
  top: 2vw;
 
}

 .menubutton, .cartbutton{
  border: none;
  display: block;
  height: 2vw;
  width: 2vw;
  padding: 2%;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}

.genere-bar{
  display: flex;
  font-family: 'IBM Plex Serif', serif;
}

.grid-product-image{

  width: 50%;
}

.product-grid{
  display: flex;
}
.view-all{
  display:grid;
  color: #A1483D;
}

.view-full-catalogue{
  background-color: #F87E60;
  color: #ffffff;
  padding: 0.8%;
  padding-left: 3%;
  padding-right: 3%;
  font-family:'IBM Plex Serif', serif;
  border: 0;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  font-size: 1.1rem;
  cursor: pointer;
 }

 .catalogue-button{
  text-align: center;
 }

 .rec-header{
  display: flex;
  align-items: center;
 }

 .view-all{
  padding: 2%;
  cursor: pointer;
 }

 .product-grid{
  text-align: center;
  font-size: 1vw;
 }

 .product{
  background-color: #ffffff;
  padding-top: 2vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }

   .carousel-1{
    text-align: center;
    padding-top: 5vw;

   }

   .caro-img{
    width:40vw;
   }

/*.nav-content{
  border: 1px;
  display: flex;
 }

.genere-bar{
  display: flex;
  font-family: 'IBM Plex Serif', serif;
}

.grid-product-image{

  width: 50%;
}

.product-grid{
  display: flex;
}
.view-all{
  display:grid;
  color: #A1483D;
}

.view-full-catalogue{
  background-color: #F87E60;
  color: #ffffff;
  padding: 0.8%;
  padding-left: 3%;
  padding-right: 3%;
  font-family:'IBM Plex Serif', serif;
  border: 0;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  font-size: 1.1rem;
  cursor: pointer;
 }

 .catalogue-button{
  text-align: center;
 }

 

.searchbar{
  display: flex;
  position: absolute;
  width: 30%;
  height: 10%;
  top: 2vw;
 
}

.go, .menubutton, .cartbutton{
  border: none;
  display: block;
  height: 4vw;
  width: 4vw;
  padding: 2%;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}

.go img, .menubutton img, .cartbutton img{
  align-items: center; 
  height: 4vw;
  width: 4vw;
  padding: 2%;
  border-radius: 50%;
} */


 /*SAM START */
 * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 250px;
  position: relative;
  margin: auto;
}
/* Make the images invisible by default */
.Containers {
  display: none;
}
/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}
<<<<<<< HEAD
*/

/* rewrite the part below */
.input-box {
position: relative;
height: 76px;
max-width: 900px;
width: 100%;
background: #fff;
margin: 0 20px;
border-radius: 50px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
left: 2vw;
}
.input-box i,
.input-box .button {
position: absolute;
top: 50%;
transform: translateY(-50%);
}

.input-box input {
height: 100%;
width: 100%;
outline: none;
font-size: 18px;
font-weight: 400;
border: none;
padding: 0 155px 0 65px;
background-color: transparent;
}
.input-box .button {
right: 5px;
font-size: 16px;
font-weight: 400;
color: #fff;
border: none;
padding: 12px 12px;
border-radius: 50%;;
background-color: #F87E60;
cursor: pointer;
}
.input-box .button:active {
transform: translateY(-50%) scale(0.98);
}
/* Responsive */
@media screen and (max-width: 500px) {
.input-box {
  height: 66px;
  margin: 0 8px;
}
.input-box i {
  left: 12px;
  font-size: 25px;
}
.input-box input {
  padding: 0 112px 0 50px;
}
.input-box .button {
  right: 12px;
  font-size: 14px;
  padding: 8px 18px;
}
=======

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
>>>>>>> 0f393c1c5d59c3e4a31c540f30325547bc2166d1
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 1.1rem;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

/*SAM END*/