/*lihini start*/
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=IBM+Plex+Sans+Thai&family=IBM+Plex+Serif&family=Josefin+Sans&display=swap');

  body{
    font-family: 'IBM Plex Serif', serif;
    border: none;
    margin: 0px;
    position: relative;
    box-sizing: border-box;

  }

  .header-bar{
    font-family: 'Goudy Bookletter 1911', serif;
    color: #DFBD65;
    background-color: #1B605D;
    display: flexbox;
    height: 8vw;
    z-index: 9;
  }

  .topnav{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 6vw;
    left: 3vw;
  }

  .bookshop{
    font-size: 3vw;
    margin-top: 2%;
    color: #DFBD65;
    font-style: none;
  }

  .home-link{
    text-decoration: none;
  }

  .book-1-search .single-link {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;  
  }

  .free-shipping{
    background-color: #A1483D;
    color: #ffffff;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    display: flex;
  }
  .free-shipping p{
    display: flex;
    position: relative;
    right: 5%;
  }

  .content-free{
    font-size: 0.8em;
    text-align: center;
    align-items: center;
    padding-left: 50%;
    }

  .free-truck{
    width: 1.5vw;
    height: 1.5vw;
  }

  .logo{
    width: 20%;
    height: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .logo-content{
    display: flex;
    width: 46vw;
    position: relative;
    top: 5%;
  }

  .menubutton, .cartbutton{
    border: none;
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#D9D9D9;
  }

  .menubutton{
  position: relative;
  right: 25%;  
}

  .menu{
    display: flex;
    padding-left: 15vw;
  }

  .menubutton:hover, .cartbutton:hover, .search-icon:hover{
    cursor: pointer;
  }

  .genere-bar{
    width: 100%;
    display: flex;
    font-family: 'IBM Plex Serif', serif;
    font-size: 0.99em;
    align-items: center;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
  }

  .figimg{
    height: 3vw;
  }

  .figure{
    display: flex;
    margin-inline-start: 2%;
    margin-inline-end: 2%;
  }

  .grid-product-image{
    width: 50%;
  }

  .product-grid{
    display: flex;
    margin-left: 3vw;
    margin-right: 2vw;
  }
  .view-all{
    display:grid;
    color: #A1483D;
  }

  .view-full-catalogue, .add-to-cart, .view-cart{
    background-color: #F87E60;
    color: #ffffff;
    padding: 0.8%;
    padding-left: 3%;
    padding-right: 3%;
    font-family:'IBM Plex Serif', serif;
    border: 0;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    }

    .catalogue-button{
    text-align: center;
    }

    .rec-header{
    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    }

    .view-all{
    padding: 2%;
    cursor: pointer;
    }

    .product-grid{
    text-align: center;
    font-size: 1vw;
    }

  .product{
  background-color: #ffffff;
  padding-top: 2vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

  .carousel-1{
  text-align: center;
  padding-top: 5vw;

  }

    .caro-img{
    width:40vw;
    }

    .banner-img{
    width: 100%; 
    }

  .input-box-search {
    padding-left: 70%;

  }
  .search-drop{
    display: none;
  }
  .search
  {
    border: none;
    overflow: auto;
    border-radius: 50px;
    font-family:'IBM Plex Serif', serif;
    padding-left: 5px;
    height: 2.4vw;
    width: 18vw;
  }

  .search-icon{
    border: none;
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#D9D9D9;
    position: relative;
    right: 2.5vw;
  }

  .search-img, .menu-img, .cart-img{
    width: 2vw;
  }

  .notif{
      display: flex;
      background-color: #A1483D;
      color: #fff;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      align-items: center;
      text-align: center;
      font-size: 0.8em;
      position: relative;
      right: 10%;
      top: 50%;
      font-family: 'IBM Plex Serif';
      display: none;
      }
  

  .search-bar{
    padding-left: 50vw;
    display: flex;
  }


  .search-items{
  background-color: #ffffff;
  border: 5px solid;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
  }


  /*drop down search */ 


  .search-drop{
    background-color: #F5F5F5;
    color: #F5F5F5;
    font-family: 'IBM Plex Serif', serif;
    display: flex;
    position: relative;
    right: 40%;
    top: 3vw;
    z-index: 10;
    display:none;
  }
  .search-items{
    width: 20vw;
    background-color: #F5F5F5;
  }

  .book-1-search{
    display: flex;
    flex-direction: row;
  }

  .searchimg{
    width: 5vw;
    position: relative;
    top: 0.8vw;
  }

  .searchcontent{
    display: inline-block; 
    color: #000000; 
    padding-left: 18%; 
    position: relative;
    bottom: 1vw;
  }

  .search-price, .search-discount, .dicsount-price, .product-price{
    display: inline;
    position: relative;
    bottom: 0.5vw;
  }

  .author-text, .author-name{
    display: inline;
  }

  .search-title{
    font-weight: 400;
    font-size: large;
    margin-bottom: -15%;
    font-size: 1.5em;
  }

  .search-author{
    font-size: medium;
    font-weight: 400;
    margin-bottom: -15%;
    font-size: 1em;
    min-width: 0.5vw;
  }

  .bestseller-search{
    margin-top: 15%;
    font-size: 0.8em;
  }

  .search-price{
    font-weight: bold;
    font-size: 1.5em;
  }

  .search-discount{
    font-size: 1em;
    text-decoration: line-through;
  }

  .author-rec{
    font-weight: 400;
    font-size: large;
    font-size: 1em;
    color: #000000;
  }

  /*search end*/

  /*side menu start*/
  .drop-down-menu{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #F5F5F5;  
    z-index: 9;
    color: #000000;
    position: absolute;
    left: 80%;
    display: none;
  
}

.subjects, .menu-title{
    padding-left: 4%;
    font-size: 1.2em;
}

.subjects{
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 1%;
}
.small{
    font-size: 1em;
}

.menu-title{
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 5%;
}
.sub-menu{
    background-color: #1B605D;
    color: #F5F5F5;
    padding-left: 4%;
    padding-top: 4%;
}

.copyright{
    font-size: 0.5em;
    text-align: center;
    padding-bottom: 2%;
}
  
.menu-arrow, .cross-black{
    width: 2vw;
    height: 2vw;
    padding-right: 2%;
}

.main-menu{
    padding-bottom: 4%;
}
.menu-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sub-arrow{
    width: 1.5vw;
    height: 1.5vw;
    padding-right: 4%;
}

.cross-black{
    position: relative;
    top: 0.3vw;

}

.sub-content{
    padding-top: 2%;
    padding-bottom: 2%;
}

  /*start menu end*/

  /* ===========================
    ====== Medua Query for Search Box ====== 
    =========================== */

  @media only screen and (max-width : 800px)
  {

  
    .topnav{
      display: flex;
      flex-direction: row;
      position: relative;
      bottom: 80%;
    }

    .header-bar{
      height: 12vw;
      width: 100%;
    }

    .search-bar{
        padding-left: 10%;
        position: relative;
    }

    .bookshop{
      display: none;
    }

    .free-truck{
      width: 4vw;
      height: 4vw;
    }

    .free-shipping p{
      right: 15%;
    }

    .logo-content{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .logo{
      width: 15%;
      height: 88%;
    }

    .search {
      height: 6.7vw;
      width: 32vw;
      margin: 0 auto;
      font-size: 1em;
      position: relative;
      top: %;
      left: 10%;
    }

    .hide{
      display: none;
    }

    .search-icon{ 
      height: 2vw;
      width: 2vw;
      padding: 10%;
      border-radius: 50%;
      position: relative;
      right: 3vw;
      display: flex;
      margin: 0 auto;
    }

    .input-box-search {
      padding-left: 70%;
  
    }

    .search-img, .menu-img, .cart-img{
      width: 5vw;
    }

    .menu{
      display: flex;
      padding-left: 32vw;
      padding-top: 0.2%;
    }

    .menubutton, .cartbutton{
    height: 7vw;
    width: 7vw;
    }

  }

  /*pop up cart*/
.popup-cart{
    display: absolute;
    z-index: 9; /* Ensures the div appears above other content */
    position: absolute;
    right: 0;
    overflow: hidden;
    display: none;
    }
    .pop-cart{
    display: relative;
    background-color: white;
    box-shadow:-10px 0px 10px  #6F6F6F;
    height: 84vh;
    width: 25vw;
    }
    
    .pop-ship{
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    background-color: #A1483D;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;}
    
    .popup-shipping{
    padding-left: 2%;
    }
    
    .remove, .qty{
    font-size: 0.8em;
    margin-top: 2%;
    margin-bottom: 0%;
    }
    .remove{
    color:#A1483D ;
    }
    
    .popcart-item{
    padding-left: 4%;
    display: flex;
    flex-direction: row;
    }
    
    .bg{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 8vw;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 8;
    display: none;
    }
    
    .cart-bottom{
      padding-top: 50%;
      padding-bottom: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .searchdiv-bottom{
      position: relative;
      top: 22vw;
    }
    
    
    
    .view-cart{
    width: 60%;
    }
    
    .link-home{
    display: inline-block;
    }
    
     /* Works for Chrome, Safari, Edge, Opera */
     input::-webkit-outer-spin-button,
     input::-webkit-inner-spin-button {
       -webkit-appearance: none;
       margin: 0;
     }
    
    @media only screen and (max-width : 800px)
      {
        
        body{
          overflow-x: hidden;
        }
        .pop-cart{
          width: 100%;
          height: 150vw;
        }
      .pop-img{
        padding-top: 20px;
      }
      .searchimg{
        min-width: 80px;
      }
    
      .searchcontent{
        font-size: 1em;
        padding-left: 20%;
        bottom: 3vw;
      }
    
      .search-price, .search-discount, .dicsount-price, .product-price{
        display: inline;
        position: relative;
        bottom: 1vw;
      }
    
      .bg{
        top: 12vw;
      }
    
      .drop-down-menu{
        width: 70%;
        left: 30%;
      }
    
      .search-items{
        width: 280px; 
      }
      .search-drop{
        right: 70vw;
        top: 8vw;
      }
      
      .recom-grid{
        width: 200vw ;
        height: 40vw;
        padding-bottom: 5%;
        padding-left: 1%;
       
      }
    
      .main-series-grid{
        background-color: #1B605D;
        height: 40vw;
        width: 90vw;
      }
    
         
      }

      /*single product page css*/
  .nav-past, .nav-location, .nav-future{
    padding-left: 1%;
    padding-right: 1%;
  }

  .nav-past{
    color: #6F6F6F;
  }

  .nav-arrow{
    height: 0%;
  }
  
  .rec-header{
    display: flex;
    align-items: center;
   }

.navigation{
  display: flex;
  font-size: 0.9em;
  flex-direction: row;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  align-items: center;
}

.main-product-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-product-image{
  width: 25vw;
}

 .stars{
  width: 15%;
  position: relative;
  bottom: 3.5vw;
}

.main-page-wishlist{
  width: 20%;
  height: 20%;
}

.product-author{
  font-size: 1.2em;
  position: relative;
  bottom: 2.5vw;
}



.wishlist{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 3%;
}



.column{
  float: left;
  width: 50%;
}

.main-product-container::after{
    content: " ";
    display: table;
    clear: both;
}

.book-reccom{
  display: flex;
  flex-direction: column;
}

.series{
  float:left;
}

.main-series-grid{
  width: 40%;
}

.product-price{
font-weight:bolder;
font-size: 2em;
}

.delivery-text{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.truck{
  width: 2vw;
  height: 2vw;
  padding-right:1%;
}

.postcode-bar{
  position: relative;
  bottom: 1vw;
}
.postcode-search{
    border: none;
    overflow: auto;
    border-radius: 50px;
    font-family:'IBM Plex Serif', serif;
    padding-left: 5px;
    height: 2.4vw;
    width: 24vw;
    background-color: #D9D9D9;
}

.postcode-search-img{
  position: relative;
  right: 3vw;
  top: 0.5vw;
  height: 2vw;
  width: 2vw;
}

.add-to-cart, .view-cart{
  background-color: #A1483D;
  width: 45%;
}


.divider{
  width: 98%;
  position: relative;
  right: 1vw;
}

.product-details{
  display: flex;
  flex-direction: column;
}

.detail{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.detail:hover{
  cursor: pointer;
}

.descrip-arrow{
  position: relative;
  width: 2.5vw;
  height: 2.5vw;
  right: 4%;
  transition: trasnform 0.5s ease;
  transform-origin: center;

}

.descrip-arrow.rotate{
  transform: rotate(180deg);
}
.descriptions{
  text-align: left;
}

.descrip-drop{
  display: none;
}

/*single product ends*/

@media only screen and (max-width : 800px)
  {
 /*singe product page media*/

 .main-product-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  
}

.truck, .postcode-search-img{
  width: 4vw;
  height: 4vw;  
}

.postcode-search-img{
  top: 1vw;
  right: 5vw;
}

.main-product-view, .product-info{
  width: 85%;
}

.main-product-image{
  width: 45vw;
}

.postcode-search{
  height: 5vw;
  width: 65vw;
}

.button-location{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.add-to-cart{
  width: 350px;
  height: 50px;
}

.descrip-arrow{
  width: 5vw;
  height: 5vw;
}
}

  /*lihini end*/


  /*SAM START*/
  /*SAM START 7:52pm 11/05/23*/
ul {list-style-type: none;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  color: black;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: transparent;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background: transparent;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #000000;
  text-align: center;
  background-color: transparent;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  margin: 0;
  background: transparent;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #000000;
  background: transparent;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #F87E60;
  color: white !important
}
.container {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .left {
    width: 40%;
  }
.bannerCalendar {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  
  .Dates {
    width: 40%;
  }
  
  .banner {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .mothersDay { /*lihini: I specified this class cause it was causing issues throughout the page*/
    max-width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }

/*Sam Start*/
.tile{
    height: 100px;
    width: 50px;
    text-align: center;
}

.h1{
    align-content: center;
    text-align: center;
}

.headContainer{
  display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lefth {
  width: 15%;
  margin-right: 20px;
  
}



.righth {
  width: 175%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: top;
}

.container {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .left {
    width: 15%;
    margin-right: 20px;
    
  }



  .right {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  /*Product Grid CSS*/
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .under-10 {
    display: flex;
    align-items: right;
}

  .square{
    margin-left: 5px;
  }

  
  .book {
    flex: 0 0 20%; /* Specify a fixed width of 20% for each book */
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;

  }
  
  .book img {
    max-width: 50%; /* Remove the max-width property to allow the image to scale within the book element */
    height: auto;
    margin-bottom: 10px;
  }

  .book h4,
  .book h6,
  .book span {
    margin: 5px 0;
  }

.squares{
  float: right;
  display: inline-block;
  vertical-align: top;
  position: relative;
  bottom: 1.1vw;
}


  .rectangle {
    background-color: #1B605D; 
    height: 100px; /* Set the height of the rectangle */
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
  }
  button{
    background-color: #F87E60;
    color: #ffffff;
    padding: 0.8%;
    padding-left: 3%;
    padding-right: 3%;
    font-family:'IBM Plex Serif', serif;
    border: 0;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    font-size: 1.1rem;
    cursor: pointer;
   }

   .row {
    width: 100%;

   }

   .footer{
    background-color: #2f2f2f;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
    
   }

.Column1{
    width: 33.33%;
    display: table;
    float: left;
    align-content: left;
    text-align: left;
    vertical-align: middle;
}

.Column2{
  width: 33.33%;
  display: table;
  float: left;
  align-content: center;
  text-align: center;
}

.Column3{
  width: 33.33%;
  display: table;
  float: left;
  align-content: center;
  text-align: center;
}

.footerButton{
  border: none;
  vertical-align: top;
  border-radius: 25px;
  background: #b7b7b7;
  font-size:small;
  padding: 20px;
  width: 300px;
  height: 8px;
  position: relative;
  left: 20%;
  right: 100%;
  text-align: left;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6)
}

.add-to-cart-button{
  background-color: #A1483D;
  color: #ffffff;
  padding: 0.8%;
  padding-left: 3%;
  padding-right: 3%;
  font-family:'IBM Plex Serif', serif;
  border: 0;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  font-size: 1.rem;
  cursor: pointer;
  height: 25px;
  width: 150px;

}

  /*SAM END*/