@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=IBM+Plex+Sans+Thai&family=IBM+Plex+Serif&family=Josefin+Sans&display=swap');

body{
  font-family: 'IBM Plex Serif', serif;
  border: none;
  margin: 0px;

}

.header-bar{
  font-family: 'Goudy Bookletter 1911', serif;
  color: #DFBD65;
  background-color: #1B605D;
  display: flexbox;
  height: 8vw;
}

.topnav{
  display: flex;
  position: relative;
  bottom: 6vw;

}

.bookshop{
  font-size: 3vw;
  margin-top: 2%;
}

.free-shipping{
  background-color: #A1483D;
  color: #ffffff;
  font-family: 'IBM Plex Serif', serif;
  text-align: center;
  overflow: auto;

     
}
.free-shipping p{
  display: flex;
  position: relative;
  right: 5%;

}

.content-free{
  font-size: 1vw;
  text-align: center;
  align-items: center;
  padding-left: 50%;
  
  }

.free-truck{
  width: 1.5vw;
  height: 1.5vw;
}

.logo{
  width: 10%;
  height: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.logo-content{
  display: flex;
}

.menubutton, .cartbutton{
  border: none;
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#D9D9D9;
  ;    
  
}

.menubutton{
position: relative;
right: 25%;  }

.menu{
  display: flex;
  padding-left: 15vw;
}

.genere-bar{
  width: 100%;
  display: flex;
  font-family: 'IBM Plex Serif', serif;
  font-size: 0.99em;
  align-items: center;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}

.figimg{
  height: 3vw;
}

.figure{
  display: flex;
  margin-inline-start: 2%;
  margin-inline-end: 2%;
}

.grid-product-image{

  width: 50%;
}

.product-grid{
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
}
.view-all{
  display:grid;
  color: #A1483D;
}

.view-full-catalogue, .add-to-cart{
  background-color: #F87E60;
  color: #ffffff;
  padding: 0.8%;
  padding-left: 3%;
  padding-right: 3%;
  font-family:'IBM Plex Serif', serif;
  border: 0;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  font-size: 1.1rem;
  cursor: pointer;
  }

  .catalogue-button{
  text-align: center;
  }

  .rec-header{
  display: flex;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
  }

  .view-all{
  padding: 2%;
  cursor: pointer;
  }

  .product-grid{
  text-align: center;
  font-size: 1vw;
  }

.product{
background-color: #ffffff;
padding-top: 2vw;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .carousel-1{
  text-align: center;
  padding-top: 5vw;

  }

  .caro-img{
  width:40vw;
  }

  .banner-img{
  width: 100%;
  }



.input-box-search {
  padding-left: 70%;
  
  
}

.search
{
  border: none;
  overflow: auto;
  border-radius: 50px;
  font-family:'IBM Plex Serif', serif;
  padding-left: 5px;
  height: 2.4vw;
  width: 18vw;
}

.search-icon{
  border: none;
  height: 2.5vw;
  width: 2.5vw;
  padding: 10%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#D9D9D9;
  ; 
}

.search-img, .menu-img, .cart-img{
  width: 2vw;
}

.search-bar{
  padding-left: 50vw;
  display: flex;
}

.search-button{
  width: 5vw;
  position: relative;
  right: 2.5vw;
}
.search-items{
background-color: #ffffff;
border: 5px solid;
position: relative;
top: 50%;
transform: translate(0, -50%);
padding: 10px;
}


/*drop down search */ 


.search-drop{
  background-color: #F5F5F5;
  color: #F5F5F5;
  font-family: 'IBM Plex Serif', serif;
  display: flex;
  position: relative;
  right: 40%;
  top: 3vw;
  width: 50vw;
  z-index: 10;

}
.search-items{
  float: right;
  width: 30vw;
  background-color: #F5F5F5;

}


.searchimg{
  width: 5vw;
}

.searchcontent{
  display: inline-block; 
  color: #000000; 
  padding-left: 15%; 
  position: relative;
  bottom: 1vw;
}

.search-img, .searchcontent{
  display: inline-block;
  vertical-align: middle;
}

.search-price, .search-discount, .dicsount-price, .product-price{
  display: inline;
}

.author-text, .author-name{
  display: inline;
}

.search-title{
  font-weight: 400;
  font-size: large;
  margin-bottom: -15%;
  font-size: 1.5vw;

}

.search-author{
  font-size: medium;
  font-weight: 400;
  margin-bottom: -15%;
  font-size: 1.1vw;
  min-width: 0.5vw;
}

.bestseller-search{
  margin-top: 15%;
  font-size: 0.8vw;
}

.search-price{
  font-weight: bold;
  font-size: 1.5vw;
  
}


.search-discount{
  font-size: 1vw;
  text-decoration: line-through;
}

.author-rec{
  font-weight: 400;
  font-size: large;
  font-size: 1.2vw;
  color: #000000;

}

/* ===========================
  ====== Medua Query for Search Box ====== 
  =========================== */

@media only screen and (min-width : 150px) and (max-width : 1000px)
{

  .header-bar{
    height: 9vw;
  }

  .search-bar{
    padding-left: 40vw;
    display: flex;
  }


  .search
  {
    display: flex;
    height: 3vw;
    width: 15vw;
    margin: 0 auto;
    font-size: 1.5vw;
  }

  .search-button{
    position: relative;
    right: 3vw;
    top: 0.1vw;
    display: flex;
    height: 3vw;
    width: 15vw;
    margin: 0 auto;
    font-size: 1.5vw;
  }

  .search-icon{ 
    height: 3vw;
    width: 3vw;
    padding: 10%;
    border-radius: 50%;
  }

  .menu{
    display: flex;
    padding-left: 10vw;
  }

  .menubutton, .cartbutton{
  position: relative;
  top: 0.1vw;
  height: 3vw;
  width: 3vw;
  }
}


/*single product page css*/
.nav-past, .nav-location, .nav-future{
  padding-left: 1%;
  padding-right: 1%;
}

.nav-past{
  color: #6F6F6F;
}

.nav-arrow{
  height: 0%;
}

.rec-header{
  display: flex;
  align-items: center;
 }

.navigation{
display: flex;
font-size: 0.9em;
flex-direction: row;
font-family: 'IBM Plex Sans Thai', sans-serif;
align-items: center;
}

.main-product-view{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.main-product-image{
width: 25vw;
}

.stars{
width: 15%;
position: relative;
bottom: 3.5vw;
}

.main-page-wishlist{
width: 20%;
height: 20%;
}

.product-author{
font-size: 1.2em;
position: relative;
bottom: 2.5vw;
}



.wishlist{
display: flex;
flex-direction: row;
align-items: center;
padding-top: 3%;
}



.column{
float: left;
width: 50%;
}

.main-product-container::after{
  content: " ";
  display: table;
  clear: both;
}

.book-reccom{
display: flex;
flex-direction: column;
}

.series{
float:left;
}

.main-series-grid{
width: 40%;
}

.product-price{
font-weight:bolder;
font-size: 2em;
}

.delivery-text{
display: flex;
flex-direction: row;
}

.truck{
position: relative;
top:0.9vw;
width: 2vw;
height: 2vw;
padding-right:1%;
}

.postcode-bar{
position: relative;
bottom: 1vw;
}
.postcode-search{
  border: none;
  overflow: auto;
  border-radius: 50px;
  font-family:'IBM Plex Serif', serif;
  padding-left: 5px;
  height: 2.4vw;
  width: 24vw;
  background-color: #D9D9D9;
}

.postcode-search-img{
position: relative;
right: 3vw;
top: 0.5vw;
height: 2vw;
width: 2vw;
}

.add-to-cart{
background-color: #A1483D;
width: 45%;
}

.divider{
width: 98%;
position: relative;
right: 1vw;

}

.product-details{
display: flex;
flex-direction: column;
}

.detail{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;

}

.detail:hover{
cursor: pointer;
}

.descrip-arrow{
position: relative;
width: 2.5vw;
height: 2.5vw;
padding-right: 4%;
}
